
<br><br><br>

<table class="lista" align="center"  cellspacing="0" cellpadding="0">
  <tr class="cabecera">
    <th>Medio</th>
    <th>Grosor</th> 
    <th>Epsilon relativa (ε<sub>r</sub>)</th>
    <th>Mu relativa (μ<sub>r</sub>)</th> 
    <th>Longitud de onda (λ)</th> 
    <th>Impedancia intrínseca (η)</th>
    <th>|ρ| </th> 
    <th>COE</th> 
    <th><a href="/add"><img id="mini" title="Add" src="/images/add.png"></a> </th>
</tr>
<%for(var i = 0; i < medios.length ; i++){%>
<tr class="fila">
	<td id="gris"><%=i +1%></td>
	<td><%=medios[i].grosor%>  mm</td>
	<td><%=medios[i].er%></td>
	<td><%=medios[i].mur%></td>
	<td><%=medios[i].lambda.toFixed(2)%>  mm</td>
	<td><%=medios[i].moduloro%></td>
	<td><%=medios[i].fasei.toFixed(2)%></td>
	<td><%=medios[i].COE%></td>
	<td><a href="/edit/<%=i%>"><img id="mini"  title="Edit" src="/images/settings.png"></a>  <a href="/remove/<%=i%>"><img id="mini"  title="Delete" src="/images/remove.png"></a></td>
</tr>	

<%}%>
</table>