
<br><br><br>

<table class="lista" id ="puntos" align="center"  cellspacing="0" cellpadding="0">
  <tr class="cabecera" id= "listado">
    <th class="tl">Medio</th>
    <th>Grosor</th> 
    <th><solo>Longitud de onda (</solo>λ<solo>)</solo></th> 
    <th><solo>Epsilon relativa (</solo>ε<sub>r</sub><solo>)</solo></th>
    <th><solo>Mu relativa (</solo>μ<sub>r</sub><solo>)</solo></th> 
    <th><solo>Impedancia intrínseca (</solo>η<solo>)</solo></th>
    <th>|ρ| </th> 
    <th>COE</th> 
    <th class ="tr"><a href="/add"><img id="mini" title="Add" src="/images/add.png"></a> </th>
</tr>
<%for(var i = 0; i < medios.length ; i++){%>
<tr class="fila">
	<%if (i==medios.length-1){%><td class="bl" id="gris"><%=i +1%></td>
    <%}else{%>
	<td  id="gris"><%=i +1%></td><%}%>
	<td><%=medios[i].grosor%> <solo> mm</solo></td>
    <td><%=Math.round((medios[i].lambda) * 100) / 100 %> <solo> mm</solo></td>
	<td><%=medios[i].er%></td>
	<td><%=medios[i].mur%></td>
	<td><%=medios[i].eta.toFixed(2)%></td>
	<td><%=medios[i].moduloro%></td>
	<td><%=Math.round((medios[i].COE) * 100) / 100  %></td>
	<%if (i==medios.length-1){%>
	<td class="br">
	<%}else{%><td><%}%>
	<a href="/edit/<%=i%>"><img id="mini"  title="Edit" src="/images/settings.png"></a>  <a href="/remove/<%=i%>"><img id="mini"  title="Delete" src="/images/remove.png"></a></td>
</tr>	

<%}%>
</table>
<div class="center">
<br>
<a href="/add"><button id="sss" type="button">Add</button></a> 
<a href="/draw"><button id="sss" type="button">Draw</button></a> 
<a href="/freq"><button id="sss" type="button">Frequency</button></a>
</div>
        <script>
        var language = navigator.language || navigator.browserLanguage;
        var url = window.location.href;
        if(language!== "es" && language!== "gl" && language!== "ca" && language!== "eu"){
        	document.getElementById("listado").innerHTML = " <th>Medium</th>"
           	+" <th>Thickness</th> "
            +"  <th><solo>Wavelength (</solo>λ<solo>)</solo></th> "
            +" <th><solo>Relative Epsilon (</solo>ε<sub>r</sub><solo>)</solo></th>"
            +"  <th><solo>Relative Mu (</solo>μ<sub>r</sub><solo>)</solo></th> "
            +"  <th><solo>Intrinsec impedance (</solo>η<solo>)</solo></th>"
            +"  <th>|ρ|</th> "
          	+"   <th>SWR</th> "
            + " <th><a href=\"/add\"><img id=\"mini\" title=\"Add\" src=\"/images/add.png\"></a> </th>";
        	
        }

        </script>
